body .ytp-repeat-button {
  text-decoration: none;
}

body .ytp-repeat-button > .tip {
  transition: opacity 0.05s cubic-bezier(0.4, 0, 1, 1);
  opacity: 0;
  position: absolute;
  bottom: 45px; /* TODO bad place */
}

body .ytp-repeat-button > .tip > span {
  font-weight: 500;
  background: #191919;
  border-radius: 3px;
  padding: 5px 10px;
}

body .ytp-repeat-button:hover > .tip {
  opacity: 1;
}

body .ytp-repeat-button > svg > path {
  transition: fill 0.1s cubic-bezier(0.4, 0, 1, 1);
}

body .ytp-repeat-button.red .ytp-svg-fill {
  fill: #ff0000;
}
